body
{
    background-color: rgb(33, 7, 51);
    overflow-x: hidden;
    font-size: 100%;
}
.hero 
{
    min-height: 100vh;
    width: 100%;
    color: #fff;
    position: relative;
    
}
nav{
    height: 6rem;
    width: 100vw;
    background-color: #131418;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 10;
}
nav ul
{
    flex: 1;
    text-align: right;
    
}
nav ul li
{
    display: inline-block;
    list-style: none;
    margin: 20px 10px;
    
}
nav ul li a 
{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    
}
header ul li
{
    list-style: none;
    
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: rgb(250, 248, 248);
    border-radius: 20px;
    
}
header ul li a:hover,
header ul li a.active 
{
    background: rgb(245, 241, 241);
    color: #0f0f0f;
}

/* responsive navbar */


/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 639px){

    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        font-family: cursive;
        color: ivory;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background: #131418;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }


    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }

    }
    li.fade{
        opacity: 1;
    }
}
    nav ul li a 
{

    font-size: 3px;
    
}
   
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
